$path-main: '@assets/';
$font-path: '#{$path-main}fonts/';

@font-face {
  font-family: 'ClassicGrotesque';
  src: url('#{$font-path}classic-grotesque/ClassicGrotesqueW05-Bold.woff2') format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap
}

@font-face {
  font-family: 'ClassicGrotesque';
  src: url('#{$font-path}classic-grotesque/ClassicGrotesqueW05-Book.woff2') format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: 'ClassicGrotesque';
  src: url('#{$font-path}classic-grotesque/ClassicGrotesqueW05-SemiBd.woff2') format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

@font-face {
  font-family: 'Druk Web';
  src: url('#{$font-path}druk-web/DrukWeb.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap
}

// Roboto

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('#{$font-path}roboto/roboto-100.woff2') format('woff2'),
}

@font-face {
  font-weight: 300;
  font-family: Roboto;
  font-style: normal;
  src: url('#{$font-path}roboto/roboto-300.woff2') format('woff2'),
}

// regular
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('#{$font-path}roboto/roboto-400.woff2') format('woff2'),
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url('#{$font-path}roboto/roboto-500.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}roboto/roboto-700.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('#{$font-path}roboto/roboto-900.woff') format('woff');
}

// Roboto Slab

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url('#{$font-path}roboto-slab/roboto-slab-100.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 200;
  src: url('#{$font-path}roboto-slab/roboto-slab-200.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url#{$font-path}roboto-slab/roboto-slab-300.woff2') format('woff2'),
}

// regular
@font-face {
  font-weight: 400;
  font-family: 'Roboto Slab';
  font-style: normal;
  src: url('#{$font-path}roboto-slab/roboto-slab-400.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  src: url('#{$font-path}roboto-slab/roboto-slab-500.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url('#{$font-path}roboto-slab/roboto-slab-600.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}roboto-slab/roboto-slab-700.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 800;
  src: url('#{$font-path}roboto-slab/roboto-slab-800.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 900;
  src: url('#{$font-path}roboto-slab/roboto-slab-900.woff2') format('woff2'),
}
